.item_list {
    margin-top: 20px;
}

.item_list ons-list-item:nth-child(odd) {
    background-color: lightblue;

}

.item_list ons-list-item:nth-child(even) {
    background-color: azure;

}

.item_list ons-list-item ons-col:nth-child(even) {
    font-weight: bold;
}

.info {
    margin: 10px;
    padding: 16px;
    background-color: #fafafa;
    border: solid 1px #ccc;
}
.info span {
    font-weight: bold;
}


.input_area {
    padding-top: 16px;
    text-align: center;
}

.input_area .text {
    width: 200px;
}

.input_area .button {
    width: 62px;
}

.input_area .speed_range {
    width: 200px;
}

.canvas_area {
    margin-top: 20px;
    width: 100%;
}

.canvas_area .canvas {
    width: 100%;
}

