.item_list {
    margin-top: 20px;
}

.item_list ons-list-item:nth-child(odd) {
    background-color: lightblue;

}

.item_list ons-list-item:nth-child(even) {
    background-color: azure;

}

.item_list ons-list-item ons-col:nth-child(even) {
    font-weight: bold;
}



.input_area {
    padding-top: 16px;
    text-align: center;
}

.input_area .text {
    width: 180px;
}

.input_area .button {
    width: 56px;
}