.item_list ons-list-item:nth-child(odd) {
    background-color: lightblue;

}

.item_list ons-list-item:nth-child(even) {
    background-color: azure;

}

.item_list ons-list-item ons-col:nth-child(even) {
    font-weight: bold;
}



.input_area {
    padding: 10px;
    text-align: center;
}

.input_area .text {
    width: 140px;
}

.input_area .button {
    width: 56px;
}